*{
    margin: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.div-fondo-superior{ height: 50px; background-color: rosybrown; }

.carousel-inner{
    width: 90%;
    margin: auto;
}

/* div de los globos-paises del mefio */
#div-fondo-medio{
    border: 1px dotted blue;
    position: relative;
    height: 100px;
}
    .div-logo-medio{
        position: absolute;
        height: 50%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }
    img.fondo-medio{
        width: 100%;
        position: absolute;
        z-index: -1;
    }
    img.logo-medio{
        border: 1px solid black;
        width: 90px;
        border-radius: 5px;
    }
    .paises{
        
        border: 1px solid peru;
        position: relative;
        height: 50%;
    }
        .pais{
            width: 20%;
        }
        .pais img{
            width: 100%;
        }